@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.CodeBlock {
  background-color: #393939; /* Grey background */
  text-align: center; /* Center text horizontally */
  padding: 20px;
  border-radius: 8px;
  overflow: hidden; /* Hide overflow */
  font-style: italic; /* Make text italic */
  font-weight: 250; /* Thinner font weight - adjust as needed */
  white-space: pre-wrap; /* Wrap text to the next line */
  word-break: break-word; /* Break long words to prevent horizontal overflow */
}